<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
        xmlns:xhtml="http://www.w3.org/1999/xhtml">
    <url>
        <loc>https://cppforeveryone.com/</loc>
        <lastmod>{{date:index.html}}</lastmod>
        <changefreq>monthly</changefreq>
        <priority>0.1</priority>
    </url>
    <url>
        <loc>https://cppforeveryone.com/en/index.html</loc>
        <lastmod>{{date:english.html}}</lastmod>
        <changefreq>daily</changefreq>
        <priority>1</priority>
        <xhtml:link rel="alternate" hreflang="es" href="https://cppforeveryone.com/es/index.html" />
    </url>
    <url>
        <loc>https://cppforeveryone.com/spanish.html</loc>
        <lastmod>{{date:es/index.html}}</lastmod>
        <changefreq>daily</changefreq>
        <priority>1</priority>
        <xhtml:link rel="alternate" hreflang="en" href="https://cppforeveryone.com/en/index.html" />
    </url>
</urlset>
