/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div.hero {
    position: relative;
    width: 100%;
    height: 400px;
    background-color: #3a3a3a;
    overflow: hidden;
    margin-bottom: 20px;
}

div.hero img {
    width: 100%;
    height: auto;
    display: block;
}

div.hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    color: #fff;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 16px 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 3px;
}

div.hero p {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: #cecece;
    text-align: center;
}

div.offer {
    display: flex;
    background-color: #e0e0e0;
    padding: 20px;
    margin-bottom: 20px;
}

div.content {
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 0;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 0px solid #ddd;
}

th {
    background-color: #f0f0f0;
}

tr:nth-child(even) {
    background-color: #f7f7f7;
}

tr:hover {
    background-color: #f1f1f1;
}

a.button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    display: block;
    text-align: center;
    text-decoration: none;
}

button:hover {
    background-color: #45a049;
}

h2 {
    margin-top: 30pt;
    margin-bottom: 8pt;
}

div.suggestion {
    margin-top: 10px;
}

input {
    width: 100%;
}