/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div.hero {
    position: relative;
    width: 100%;
    height: 400px;
    background-color: #3a3a3a;
    overflow: hidden;
    margin-bottom: 20px;
}

div.hero img {
    width: 100%;
    height: 100%;
    display: block;
}

div.hero h1 {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 42px;
    color: #fff;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 16px 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 3px;
}

div.hero p {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: #cecece;
    text-align: center;
}

div.offer {
    display: flex;
    background-color: #e0e0e0;
    padding: 20px;
    margin-bottom: 20px;
    line-height: 17pt;
}

div.offer img {
    object-fit: contain;
}

div.offer p {
    margin-left: 15pt;
}

div.content {
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 0;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 0px solid #ddd;
    line-height: 17pt;
}

th {
    background-color: #f0f0f0;
}

tr:nth-child(even) {
    background-color: #f7f7f7;
}

tr:hover {
    background-color: #f1f1f1;
}

a.button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    display: block;
    text-align: center;
    text-decoration: none;
}

button:hover {
    background-color: #45a049;
}

h2 {
    margin-top: 36pt;
    margin-bottom: 8pt;
}
h3{
    margin-top: 12pt;
    margin-bottom: 10pt;
}
div.suggestion {
    margin-top: 10px;
}

p {
    line-height: 17pt;  
}
input {
    width: 100%;
}

div.emscripten { text-align: center; }
div.emscripten_border { border: 1px solid black; }
/* the canvas *must not* have any border or padding, or mouse coords will be wrong */
canvas.emscripten { border: 0px none; background-color: black; }
#canvas {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: black;
}

#output {
  width: 100%;
  height: 200px;
  margin: 0 auto;
  margin-top: 10px;
  border-left: 0px;
  border-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  display: block;
  background-color: black;
  color: white;
  font-family: 'Lucida Console', Monaco, monospace;
  outline: none;
}

h3 svg { 
    width: 48px;
    height: 48px;
    margin-right: 5px;
    vertical-align: middle;
    float:left;
    margin-right: 20px;
    background-color: white;
    padding: 5px;
    box-shadow: inset 0 2px 7px rgba(0, 0, 0, 0.1);
}

.gallery-container {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    display: flex;
    gap: 20px;
    padding-bottom: 10px;
}
.card {
    border-radius: 8px;
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.3);
    width: 80%;
    flex-shrink: 0;
    scroll-snap-align: center;
    text-align: center;
    margin: 9px;
}
.card h3 {
    margin: 10px 0;
}
.card p {
    margin: 0 10px 10px;
}
.gallery-container::-webkit-scrollbar {
    display: none;
}
.gallery-container {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

@media screen and (min-width: 768px) {    
    div.content {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        align-items: top;
        place-items: top;
        padding-left: 20px;
        background-color: #fefefe;
    }

    div.section {
        width: 40%;
        padding: 0;
        margin: 0;
    }
    .card {
        width: 37%;
    }
}

@media screen and (min-width: 1020px) {    
    div.content {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    div.section {
        width: 30%;
        padding-right: 20px;
    }    
    .card {
        width: 26%;
    }
}
