{% extends "base.html" %}
{% block content %}
    <div class="hero">
        <canvas class="emscripten" id="canvas" oncontextmenu="event.preventDefault()" tabindex=-1></canvas>
        <h1>{{ title }}</h1>
        <p>{{ conway_line }}</p>
    </div>

    <script src="js/prepare.js"></script>
    <script async type="text/javascript" src="js/gameoflife.js?v=1"></script>

    <div class="content">
        <table class="card" id="index-card">
        </table>
        <div class="full-width" id="lessons-container">
        </div>
        <div>
            <div class="gallery-container" id="index-container">
            </div>
        </div>
        <div>
            <div class="gallery-container" >
                {% include "card-whatyouneed.html" %}
                {% include "card-meet-trainer.html" %}
                {% include "card-practical-classes.html" %}
            </div>
        </div>
        <div class="section">
            <h2>{{ use_google_meet }}</h2>
            <p>{{ explain_google_meet }}</p>
        </div>
    </div>
    <div class="offer">
        <img src="https://gravatar.com/userimage/121399/162c55b25fd06f3c7012f4ca15564152.jpeg?size=256"
            alt="Ignacio Rodriguez" style="width: 70pt; margin-right: 5pt;">
        <p>{{ offered_by }}<strong>{{ no_pre_recorded }}</strong><br> 
            {% include "social-links.html" %}</p>
    </div>
    <div class="foot-wrapper">
    </div>
    <script>
        const base_locale = '{{ base_locale }}';
    </script>
    <script src="js/script.js?v=30"></script>
{% endblock %}