<table class="card">
    <tr>
        <th colspan="2">{{ whatyouneed_title }}</th>
    </tr>
    <tr><td>{% include "browser.svg" %}</td>
        <td>
            <ul>
                <li>{{computer_with_internet}}</li>
                <li>{{webcam_and_microphone}}</li>
                <li>{{browser_chrome}}</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td style="text-align: center;">
            {% include "github.svg" %}
        </td>
        <td>
            {{ github_account }}
        </td>
    </tr>
</table>